#canvas {
   position: absolute;
   background: lightgrey;
   width: 100%;
   bottom: 0;
}
#toolbar{
   height: 100px;
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   background: gray;
}

.toolBarLeftDown{
   clear: left;
}
.toolBarLeftSide{
   margin: 5px;
   padding: 5px;
   
   float: left;
   width: auto;
   border: 1px solid black;
}
.toolBarRightSide{
   margin: 5px;
   padding: 2px;
   position: absolute;
   float: right;
   right: 2px;
   width: auto;
   border: 1px solid black;
}

.brush {
    position: absolute;
    width: 10px;
    height: 10px;
    
    background: pink;
}
.circle {
   border-radius: 50%;
}
.red {
   background: red;
}
.blue{
   background: blue;
}
.green{
   background: green;
}
.black{
   background: black;
}
.square-brush-btn {
   width: 20px;
   height: 20px;
   background: pink;
   border: none;
}
.circle-brush-btn {
   width: 20px;
   height: 20px;
   background: pink;
   border: none;
   border-radius: 50%;
}
@keyframes dissapear {
   0% {
       opacity: 1;
   }
   100% {
       opacity: 0;
   }
}